@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?22a0aa3bf0266834568312fad17b20fd") format("truetype"),
url("./flaticon.woff?22a0aa3bf0266834568312fad17b20fd") format("woff"),
url("./flaticon.woff2?22a0aa3bf0266834568312fad17b20fd") format("woff2"),
url("./flaticon.eot?22a0aa3bf0266834568312fad17b20fd#iefix") format("embedded-opentype"),
url("./flaticon.svg?22a0aa3bf0266834568312fad17b20fd#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-loupe:before {
    content: "\f101";
}
.flaticon-like:before {
    content: "\f102";
}
.flaticon-oval-black-speech-bubble:before {
    content: "\f103";
}
.flaticon-eye:before {
    content: "\f104";
}
.flaticon-insert-picture-icon:before {
    content: "\f105";
}
.flaticon-play-button:before {
    content: "\f106";
}
.flaticon-download-circular-button:before {
    content: "\f107";
}
.flaticon-full-size:before {
    content: "\f108";
}
